.form {
  position: relative;
  margin-top: 15px;
  padding: 10px 17px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-bottom: 30px;
}

.fieldRoot {
  &::before,
  &::after {
    display: none;
  }

  cursor: pointer;
}

.postButton {
  margin-top: 10px;
}
